body {
  Background-color: #ECE2E1;
  font-family:sofia, cursive;
  font-size: 20px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 5%;
}

h1 {
  color: #66BFBF;
  font-family:Sofia, cursive;
}

h3 {
  color: #66BFBF;
  font-family:Sofia, cursive;
}
