 body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   color: #40514E;
 }

 p {
   line-height: 2;
 }

 a {
   margin: 10px 15px;
 }

 h1 {
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   color: #66BFBF;
   line-height: 2;
 }

 h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   color: #66BFBF;
   font-weight: normal;
   line-height: 2;
   padding-bottom: 10px;
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   color: #11999E;
 }

 hr {
   border-style: none;
   border-top-style: dotted;
   border-color: #EAF6F6;
   border-width: 6px;
   width: 5%;
   margin: 100px auto;
 }

 .topcontainer {
   background-color: #EAF6F6;
   position: relative;
   padding-top: 100px;
 }

 /* .designationcontainer {} */
 .middlecontainer {
   margin: 100px 0;
 }

 .bottomcontainer {
   background-color: #66BFBF;
   padding: 40px 0 10px;
 }

 .Bottomcloud {
   position: absolute;
   left: 250px;
   bottom: 300px;
 }

 .Topcloud {
   position: absolute;
   top: 40px;
   right: 300px;
 }

 .skill-row1 {
   width: 50%;
   margin: 100px auto 200px auto;
   text-align: left;
   line-height: 2;
 }

 .skill-row2 {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
 }

 .skill-images1 {
   width: 25%;
   float: left;
   margin-right: 30px;
   margin-bottom: 60px;
 }

 .skill-images2 {
   width: 25%;
   float: right;
   margin-left: 30px;
 }

 .intro {
   width: 30%;
   color: #40514E;
   margin: auto;
 }

 .linecolor {
   color: #11999E;
 }

 .contactmessage {
   width: 30%;
   margin: 40px auto 60px;
 }

 .copyright{
   color: #EAF6F6;
   font-size: 0.85rem;
   padding: 20px 0 10px;
 }

 .btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
   background-image: -o-linear-gradient(top, #11cdd4, #11999e);
   background-image: linear-gradient(to bottom, #11cdd4, #11999e);
   -webkit-border-radius: 10;
   -moz-border-radius: 10;
   border-radius: 10px;
   text-shadow: 6px 7px 3px #300b30;
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 20px;
   padding: 12px 20px 10px 20px;
   text-decoration: none;
 }

 .btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
 }
